ul {
    list-style-type: none;
}

.MuiAvatar-circle {
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.noresults {
    text-align: center;
}

.icon {
    max-width: 50px;
    max-height: 50px;
}